TOKEN=your-bot-token-here
PREFIX=,
JOIN_TO_CREATE_CHANNEL_ID=1505260263924961330
REACTION_ROLES_CHANNEL_ID=1510256263743934504
ADMIN_ROLE_ID=your-admin-role-id-here
WELCOME_CHANNEL_ID=1445406874231898153
TICKET_LOG_CHANNEL_ID=your-ticket-log-channel-id-here
FORUM_TICKET_CHANNEL_ID=your-forum-ticket-channel-id-here


